/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

input,select {
 
	border: none; 
	outline: none
}

#adminBandeau {
	position: sticky;
	height: 60px;
	background-color: black;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#adminBandeau img {
	width: 20px;
	margin-right:10px;
}

#adminBandeau span {
	color: white;
}
#adminModif{
	display: flex;
	justify-content: center;
	align-items: center;
}

#adminModif img{
	width: 15px;
	margin-right: 6px;
}


#adminModif span{
	font-family: 'Work Sans' ;
	color: black;
	font-size: 12px;
	cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    border: 1px solid #888;
    width: 520px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal-content .titleModal1{

	font-size: 23px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	padding-left: 162px;
}

.close {
    color: #000000;
    position: relative;
    float: right;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
	padding-left: 140px;
}

.modalTitle{

	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 23px;
}
.modalImg{

	display: flex;
    flex-wrap: wrap;
	margin: 35px 45px 0px 45px;
	padding: 0 0 30px;
    gap: 5px;
	border-bottom: 1.7px solid rgb(174, 173, 173);
}

.modalImg span {

	display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    padding: 9px;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 3px;
}

.modalImg figure{
	position: relative;
    width: 19%;
}

.modalImg figure img:first-child {

	position: relative;
    width: 100%;
	height: 100%;
}

.modalImg figure img:last-child {

	position: absolute;
    top: 0px;
    right: 4px;
	width: 9px;
	cursor: pointer;
}

.addWork {

	font-family: 'Syne';
	font-weight: 700;
	font-size: 15px;
	color: white;
	background-color: #1D6154;
	margin : 18px ;
	padding: 10px;
	width: 35%;
	height: 20%;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
	border: none;
}


#myModal2{

    text-align: center;
}

.modal-content2{

	background-color: #fefefe;
    margin: 10% auto;
    border: 1px solid #888;
    width: 520px;
    height: 540px;
    border-radius: 15px;
}

#btn-valider {
	background-color: rgb(167, 167, 167);
}
  
.btnValid {
	background-color: #1d6154 !important;
}

.erreur {

	margin-top: 8px;
}

.iconModal2 {
	display: flex;
	justify-content: space-between;
	margin:  25px 25px 0 25px;
  }

.fa-xmark{
	width: 11px;
  }

.fa-arrow-left{
	width: 15px;
  }

.modale-nouvelle-photo {
	background: rgb(232, 241, 246);
	border-radius: 3px;
}

.modale-button{

	font-family: "Syne";
    font-size: 1rem;
    color: white;
    border-radius: 60px;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px 40px;
    border: none;
}

.modal-container{

	width: 75%;
    margin: auto;
    border-bottom: 1.7px solid rgb(174, 173, 173);
}

.photo-file {
	gap: 10px;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	margin: 0 auto;
}

.photo-file img {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	object-fit: cover;
	object-position: center;
	z-index: 100;
}

.fa-image {
	color: rgb(185, 197, 204);
	font-size: 3.2rem;
	padding-top: 15px;
}

label[for="avatar"] {
	color: rgb(48, 102, 133);
	font-size: 0.9rem;
	font-weight: 600;
	background: rgb(185, 197, 204);
	padding: 8px 20px;
	border-radius: 50px;
	cursor: pointer;
}
  
.photo-size {
	font-size: 0.7rem;
	padding-bottom: 18px;
}

.hidden-file-input {
    display: none;
}

.modale-nouvelle-categorie,
.selectCategorie {
	text-align: left;
	display: flex;
	flex-direction: column;
}
.modale-nouvelle-categorie input,
  select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
  
#myModal2 input[type="text"] {
	padding-left: 10px;
	font-size: 0.9rem;
}

.selectCategorie select {
	appearance: none;
	font-size: 0.9rem;
}

.modale-nouvelle-categorie label {
	margin: 20px 0 10px 0;
}

.selectCategorie {
	position: relative;
	padding-bottom: 26px;
}

.selectCategorie i {
	position: absolute;
	right: 19px;
	bottom: 52px;
	font-size: 0.8rem;
	pointer-events: none;
}

.selectCategorie select {
    appearance: none;
    padding: 10px;
    font-size: 0.9rem;
}

#titreModale {

	font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.btnValid{

	background-color: #1D6154 !important;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

a {
	text-decoration: none;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

.ig-logo {
	width: 70%;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: baseline;
	gap: 15px;
}

.filters{
	
	display: flex;
	justify-content: center;
	gap: 12px;
	margin: 50px;
}

.filters button{

	background-color:white;
	color:#1D6154;
	padding: 8px 19px;
	border-radius: 60px;
	border-color:#1D6154;
	border-width: 1px;
	font-size: 16px;
	font-family: 'Syne';
	font-weight: bold;
	cursor: pointer;
}

.filters button:hover{

	background-color: #1D6154;
	color: white;
	transition-duration: 0.7s;
}

.filters button.active{

	background-color: #1D6154;
	color: white;
}

@keyframes amjed {

	0% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(-10px);
	}

	100% {
		transform: translateY(0px);
	}
}

@keyframes anim {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		display: none;
	}
}

.active-transition{
	animation: amjed 0.3s ease-in-out forwards;
}

figure.display-transition {
	animation: anim 0.2s ease-in-out forwards;
}

.gallery{

	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	object-fit: cover;
	height: 560px;

}

.removeImg{
	width: 0px;

}

.displayImg{

	width: 100%;
}

#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.formlogin {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20%;
}

.logInput {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 35px;
}

.mdpoublie {
	text-decoration:underline;
	color:#1D6154;
}

.logchamp {
	height: 51px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin: 7px;
	width: 379px;
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	height: 40px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
